html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@keyframes fadeInUp {
  0% {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

#main-logo {
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
  animation-delay: 0.5s;
  max-height: 80px;
  width: auto;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 30px auto;
  padding-inline: 20px;
}

@keyframes fadeUp {
  0% {
    transform: translate(0, 70px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.everything {
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.hebrew {
  direction: rtl;
  position: relative;
  max-width: 40em;
  padding: 0 1em;
}

.accessibility {
  position: relative;
  transform: translateX(-50%);
  left: 50vw;
  text-align: center;
}

h2 {
  text-align: center;
}

.b-divider {
  width: 100%;
  height: 3rem;
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em #0000001a, inset 0 .125em .5em #00000026;
  margin: 20px 0 20px 0;
}

.scrolled-to {
  scroll-margin-top: 60px;
}

@media (max-width: 576px) {
    .scrolled-to {
    scroll-margin-top: 180px;
    }
}

.everything p {
  position: relative;
  max-width: 40em;
  left: 50vw;
  transform: translateX(-50%);
  padding: 0 1em;
}

.game-card {
  position: absolute;
  height: 40vh;
  max-height: 400px;
  top: 45vh;
  left: -15em;
  z-index: -1;
  /* opacity: 0.20; */
  opacity: 0.40;
  overflow: hidden;
  visibility: hidden;

  animation: scrollMovement linear forwards;
  animation-timeline: view();
  animation-range-start: entry;
  animation-range-end: contain - 800;
  will-change: transform;
}
 
@keyframes scrollMovement {
  from {
    visibility: visible;
    transform: rotate(-10deg);
  }
  to {
    transform: translate(15em, -50em) rotate(-65deg);
  }
}
